.zig-cache/
zig-out/
test/spec/spec_tests/
test/spec/test_case/
*.ssz
test/spec/ssz/generic_tests.zig
test/spec/ssz/static_tests.zig
*.era
*.pkix

# perf
flamegraph.html
perf.data
perf.data.old

# js
node_modules/
%%%%%%% Changes from base to side #2 (adds terminating newline)
-*.era
+*.era
+
+# perf
+flamegraph.html
+perf.data
+perf.data.old
